<%= form_for(@offence) do |f| %>
  <% if @offence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offence.errors.count, "error") %> prohibited this offence from being saved:</h2>

      <ul>
      <% @offence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :charge_fee %><br>
    <%= f.text_field :charge_fee %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
