<h1>Listing offencecauses</h1>

<table>
  <thead>
    <tr>
      <th>Offence</th>
      <th>Permit</th>
      <th>Permitofficer</th>
      <th>Openning date</th>
      <th>Closing date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offencecauses.each do |offencecause| %>
      <tr>
        <td><%= offencecause.offence_id %></td>
        <td><%= offencecause.permit_id %></td>
        <td><%= offencecause.permitofficer_id %></td>
        <td><%= offencecause.openning_date %></td>
        <td><%= offencecause.closing_date %></td>
        <td><%= link_to 'Show', offencecause %></td>
        <td><%= link_to 'Edit', edit_offencecause_path(offencecause) %></td>
        <td><%= link_to 'Destroy', offencecause, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offencecause', new_offencecause_path %>
