<% @page_title = 'Login' %>
<div class="row">
	<div class="col-sm-12" style="text-align:center;">
		<%= image_tag("2.jpeg", :class=>'img-circle') %>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
	<%= form_tag(:controller=>'session', :action=>'create', :class=>'form-horizontal') %>
		<div class="row" style="margin-top:20px;">
			<div class="form-group">
				<label class="col-sm-3 control-label" style="text-align:right;">Username</label>
				<div class="col-sm-8">
					<%= text_field_tag :username, params[:username], :class=>'form-control' %>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top:20px;">
			<div class="form-group">
				<label class="col-sm-3 control-label" style="text-align:right;">Password</label>
				<div class="col-sm-8">
					<%= password_field_tag :password, params[:password], :class=>'form-control' %>
				</div>
			</div>
		</div>
		<div class="row" style="margin-top:20px;text-align:center;">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<%= submit_tag("Login", :class=>'btn btn-default') %>
			</div>
		</div>
	</div>
</div>

