<p id="notice"><%= notice %></p>

<p>
  <strong>Permit number:</strong>
  <%= @permit.permit_number %>
</p>

<p>
  <strong>Issued date:</strong>
  <%= @permit.issued_date %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @permit.expiry_date %>
</p>

<p>
  <strong>Permitowner:</strong>
  <%= @permit.permitowner_id %>
</p>

<%= link_to 'Edit', edit_permit_path(@permit) %> |
<%= link_to 'Back', permits_path %>
