<%= form_for(@role, :class=>"form-horizontal", :role=>"form") do |f| %>
  <% if @role.errors.any? %>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div id="error_explanation">
          <div><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</div>

          <ul>
          <% @role.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row" style="margin-top:10px;">
    <div class="form-group">  
      <label class="col-sm-3 control-label" style="text-align:right;">Title</label>
      <div class="col-sm-5">
      <%= f.text_field :title, :class=>"form-control" %>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:10px;">
    <div class="form-group">  
      <label class="col-sm-3 control-label" style="text-align:right;">Description</label>
      <div class="col-sm-5">
      <%= f.text_area :description, :class=>"form-control", :rows=>3 %>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:10px;">
    <div class="form-group">  
      <div class="col-sm-3"></div>
      <div class="col-sm-5">
      <%= f.submit %>
      </div>
    </div>
  </div>

<% end %>
