<% @page_title="Role info" %>
<h3 id="notice"><%= notice %></h3>
<table class="table table-striped">
	<tr>
		<td>Title</td><td><%= @role.title %></td>
	</tr>
	<tr>
		<td>Description</td><td><%= @role.description %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= link_to 'Edit', edit_role_path(@role) %> |
		<%= link_to 'Back', roles_path %></td>
	</tr>
</table>
