<%= form_for(@motorcycle) do |f| %>
  <% if @motorcycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@motorcycle.errors.count, "error") %> prohibited this motorcycle from being saved:</h2>

      <ul>
      <% @motorcycle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :motor_cycle_type %><br>
    <%= f.text_field :motor_cycle_type %>
  </div>
  <div class="field">
    <%= f.label :motor_cycle_modle %><br>
    <%= f.text_field :motor_cycle_modle %>
  </div>
  <div class="field">
    <%= f.label :owner_passport %><br>
    <%= f.text_field :owner_passport %>
  </div>
  <div class="field">
    <%= f.label :entry_date %><br>
    <%= f.text_field :entry_date %>
  </div>
  <div class="field">
    <%= f.label :vehiclemanager_id %><br>
    <%= f.number_field :vehiclemanager_id %>
  </div>
  <div class="field">
    <%= f.label :shipped_from %><br>
    <%= f.text_field :shipped_from %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
